@font-face {
    font-family: 'Pacifico';
    src: url('../font/Pacifico.ttf') format('truetype');
}

@font-face {
    font-family: 'LoremIpsum';
    src: url('../font/LoremIpsum.ttf') format('truetype');
}

/* supérieur à 992px */

body {
    border: solid 5px grey;
    border-radius: 3%;
}

img {
    display: flex;
    width: 7%;
    background-size: cover;
}

#logoTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Pacifico', sans-serif;
    color: rgb(64, 255, 0);
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 2px;
    background-color: rgb(66, 65, 65);
    color: white;
    margin: 0;
    padding: 0;
}

#navBar a {
    color: inherit;
    text-decoration: none;
    margin: 0 50px;
}

#title1 h4 {
    font-family: 'Pacifico', sans-serif;
    color: white;
    background-color: rgb(78, 176, 45);
    text-align: left;
    margin: 0;
    padding: 0;
}

#title2 {
    font-family: 'Pacifico', sans-serif;
    color: white;
    background-color: rgb(78, 176, 45);
}

#footer {
    display: flex;
    flex-direction: row-reverse;
    margin: 2%;
}

#footer a {
    color: grey;
    margin: 4px;
}

.form-contenair {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

textarea {
    resize: none;
    width: 3%;
    align-items: center;
}



/* pour smartphone */
@media (min-width: 600px) and (max-width: 768px) {
    body {
        border: solid 5px rgb(16, 15, 15);
        border-radius: 3%;
    }

    img {
        display: flex;
        width: 20%;
        height: 20%;
    }

    #logoTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: 'Pacifico', sans-serif;
        align-self: center;
        align-items: center;
        color: rgb(64, 255, 0);
        margin: 2%;
        padding: 0;
        cursor: default;
    }

    #logoTitle img {
        margin-right: 100px;
    }

    #navBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(66, 65, 65);
        color: white;
    }

    #navBar a {
        display: block;
        color: inherit;
        text-decoration: none;
        margin: 10px 0;
    }

    h4 {
        margin-top: 0;
    }

    #title1 h4 {
        font-family: 'Pacifico', sans-serif;
        color: white;
        background-color: rgb(78, 176, 45);
        text-align: center;
        /* Centrer le texte */
        margin-left: 1px;
    }

    #title2 {
        font-family: 'Pacifico', sans-serif;
        color: white;
        background-color: rgb(78, 176, 45);
        margin-left: 1px;
    }

    #contactForm {
        display: flex;
        padding: 10px;
    }

    textarea {
        width: 344px;
        height: 30px;
        resize: none;
        margin: 4px;
    }

    button.btn {
        margin: 5%;
    }

    button.btn.cancel {
        margin: 5px;
    }
}



/* Tablette */
@media screen and (min-width: 769px) and (max-width: 992px) {
    body {
        border: solid 5px grey;
        border-radius: 3%;
    }

    header {
        height: 15%;
    }

    img {
        display: flex;
        width: 7%;
    }

    #logoTitle {
        display: flex;
        flex-direction: row;
        font-family: 'Pacifico', sans-serif;
        color: rgb(64, 255, 0);
        margin: 2%;
        margin-bottom: 0px;
        padding: 1%;
        padding-bottom: 0px;
    }

    #navBar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 2px;
        background-color: rgb(66, 65, 65);
        color: white;
        margin: 0;
        padding: 0;
    }

    #navBar a {
        color: inherit;
        text-decoration: none;
        margin: 0 50px;
    }

    #main {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      
      #pff,
      #jcp {
        width: 100%;
      }
      
      #title1 h4,
      #title2 h4 {
        font-family: 'Pacifico', sans-serif;
        color: white;
        background-color: rgb(78, 176, 45);
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
      }
      
      p.p1,
      p.p2 {
        width: 100%;
        text-align: justify;
        padding: 1rem;
        box-sizing: border-box;
        margin: 4px;
        padding: ;
      }

    #footer {
        display: flex;
        flex-direction: row-reverse;
        margin: 2%;
    }

    #footer a {
        color: grey;
        margin: 4px;
    }

  
    textarea {
        resize: none;
        width: 3%;
        align-items: center;
    }
}